	<div class="team">
	      <div class="container">
				<ul class="ch-grid">
					<li>
						<div class="ch-item animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
							<div class="ch-info">
								<div class="ch-info-front ch-img-1"></div>
								<div class="ch-info-back">
										<h3>Удобно</h3>
									<p>Частный дом<a href="#">всегда лучше квартиры</a></p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
							<div class="ch-info">
								<div class="ch-info-front ch-img-2"></div>
								<div class="ch-info-back">
										<h3>Близко</h3>
									<p>5 километров  <a href="#">10 минут езды от города</a></p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
							<div class="ch-info">
								<div class="ch-info-front ch-img-3"></div>
								<div class="ch-info-back">
										<h3>Недорого</h3>
									<p>Цена участков<a href="#">от 300 т.р.</a></p>
								</div>
							</div>
						</div>
					</li>
					 <li>
						<div class="ch-item animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
							<div class="ch-info">
								<div class="ch-info-front ch-img-4"></div>
								<div class="ch-info-back">
										<h3>Для вас</h3>
									<p>Любой проект  <a href="#">Строй по своему проекту</a></p>
								</div>
							</div>
						</div>
					</li>
				</ul>

		  </div>
       </div>
<!--start-yachts-->
<!-- welcome -->
	<div class="welcome">
		<div class="container">
			<h3>Добро пожаловать!</h3>
			<p class="ever">Мы предлагаем участки в живописном месте, недалеко от города Воронеж с хорошей инфраструктурой.

            </p>
			<div class="welcome-grids">
				<div class="col-md-3 welcome-grid animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<div class="welcome-grd">
						<div class="icons">
							<span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
						</div>
						<h4>доступность</h4>
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit
							esse quam.</p>
					</div>
				</div>
				<div class="col-md-3 welcome-grid animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
					<div class="welcome-grd">
						<div class="icons">
							<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
						</div>
						<h4>Коммуникации</h4>
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit
							esse quam.</p>
					</div>
				</div>
				<div class="col-md-3 welcome-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
					<div class="welcome-grd">
						<div class="icons">
							<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
						</div>
						<h4>Чистый воздух</h4>
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit
							esse quam.</p>
					</div>
				</div>
				<div class="col-md-3 welcome-grid animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<div class="welcome-grd">
						<div class="icons">
							<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
						</div>
						<h4>Доступные цены</h4>
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit
							esse quam.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //welcome -->