{% load mptt_tags %}


<ul class="nav navbar-nav animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
    {% recursetree menu.mainmenu.items %}
        <li>

            <a href="{{ node.page.get_absolute_url }}"  {% if node.level == 0 %}class="" {% endif %}    {% if not node.is_leaf_node %}   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ node }} {% if not node.is_leaf_node %}<span class="caret"></span>{% endif %}</a>

            {% if node.level == 0 %}{% endif %}

            {% if not node.is_leaf_node %}
                <ul class="dropdown-menu">
                    {{ children }}


                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
		  </ul>



